Models/SASRec_window/old_exp_on_dev/slurm-AA-CE-06_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-ce-autoreg-10_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-ce-mask-09_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-ce-teachforc-2-to-7-11_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-ce-teaforc-10_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-ss_uni-teachforc-12_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-ss-09_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-ss-autoregr-11_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-ss-teachforc-11_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-t2v-ce-16_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-t2v-ce-20M-16_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-t2v-ce-20M-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-t2v-ss_logQ-16_07.out
Models/SASRec_window/old_exp_on_dev/slurm-aa-t2v-ss-16_07.out
Models/SASRec_window/old_exp_on_dev/slurm-all_action_24_06.out
Models/SASRec_window/old_exp_on_dev/slurm-all-act-16samples-bce-03_07.out
Models/SASRec_window/old_exp_on_dev/slurm-all-act-16samples-sampledsoft-03_07.out
Models/SASRec_window/old_exp_on_dev/slurm-all-action-sampled-softmax-01_07.out
Models/SASRec_window/old_exp_on_dev/slurm-base-bce-mask-09_07.out
Models/SASRec_window/old_exp_on_dev/slurm-base-ss-mask-09_07.out
Models/SASRec_window/old_exp_on_dev/slurm-base-t2v-ce-20M-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-baseline_no_split_15_06.out
Models/SASRec_window/old_exp_on_dev/slurm-baseline_split_feeding_15_06.out
Models/SASRec_window/old_exp_on_dev/slurm-baseline-26_06.out
Models/SASRec_window/old_exp_on_dev/slurm-baseline-all-action_18_06.out
Models/SASRec_window/old_exp_on_dev/slurm-baseline-autoreg-bce-03_07.out
Models/SASRec_window/old_exp_on_dev/slurm-baseline-next-item-17_06.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ce-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ce-autor-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ce-seqsplit-18_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ce-teachforc-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ss_logQ-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ss_logQ-autor-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ss_logQ-seqsplit-18_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ss_logQ-teachforc-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ss_uni-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ss_uni-autor-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ss_uni-seqsplit-18_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ss_uni-teachforc-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-dense-all-action-26_06.out
Models/SASRec_window/old_exp_on_dev/slurm-dense-all-sampled-soft-02_07.out
Models/SASRec_window/old_exp_on_dev/slurm-feeding_split-all-action_18_06.out
Models/SASRec_window/old_exp_on_dev/slurm-feeding_split-next_17_06.out
Models/SASRec_window/old_exp_on_dev/slurm-fr-ce-12_07.out
Models/SASRec_window/old_exp_on_dev/slurm-fr-ce-autoreg-10_07.out
Models/SASRec_window/old_exp_on_dev/slurm-fr-ce-autoreg-12_07.out
Models/SASRec_window/old_exp_on_dev/slurm-fr-ce-teach_forc-12_07.out
Models/SASRec_window/old_exp_on_dev/slurm-fr-ce-teaforc-10_07.out
Models/SASRec_window/old_exp_on_dev/slurm-fr-ceover-07_07.out
Models/SASRec_window/old_exp_on_dev/slurm-fr-ss-07_07.out
Models/SASRec_window/old_exp_on_dev/slurm-inde-bce-mask-09_07.out
Models/SASRec_window/old_exp_on_dev/slurm-inde-ss-mask-09_07.out
Models/SASRec_window/old_exp_on_dev/slurm-independent-26_06.out
Models/SASRec_window/old_exp_on_dev/slurm-independent-split-sampled-soft-02_07.out
Models/SASRec_window/old_exp_on_dev/slurm-super-dense-BCE-02_07.out
Models/SASRec_window/old_exp_on_dev/slurm-super-dense-sampled-soft-02_07.out
Models/SASRec_window/old_exp_on_dev/slurm-tf-bce-mask-09_07.out
Models/SASRec_window/old_exp_on_dev/slurm-tf-ss-mask-09_07.out
Models/SASRec_window/old_exp_on_dev/slurm-tfsplit-BCE-02_07.out
Models/SASRec_window/old_exp_on_dev/slurm-tfsplit-ce-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-tfsplit-sampled-soft-02_07.out
Models/SASRec_window/old_exp_on_dev/slurm-tfsplit-ss_logQ-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-tfsplit-ss_uni-17_07.out
Models/SASRec_window/old_exp_on_dev/slurm-wind_eval_no_split.out
Models/SASRec_window/old_exp_on_dev/slurm-wind_eval_split.out
Models/SASRec_window/old_experiements/slurm-AA-CE-06_07.out
Models/SASRec_window/old_experiements/slurm-aa-ce-autoreg-10_07.out
Models/SASRec_window/old_experiements/slurm-aa-ce-mask-09_07.out
Models/SASRec_window/old_experiements/slurm-aa-ce-teachforc-2-to-7-11_07.out
Models/SASRec_window/old_experiements/slurm-aa-ce-teaforc-10_07.out
Models/SASRec_window/old_experiements/slurm-aa-ss_uni-teachforc-12_07.out
Models/SASRec_window/old_experiements/slurm-aa-ss-09_07.out
Models/SASRec_window/old_experiements/slurm-aa-ss-autoregr-11_07.out
Models/SASRec_window/old_experiements/slurm-aa-ss-teachforc-11_07.out
Models/SASRec_window/old_experiements/slurm-aa-t2v-ce-16_07.out
Models/SASRec_window/old_experiements/slurm-aa-t2v-ce-20M-16_07.out
Models/SASRec_window/old_experiements/slurm-aa-t2v-ce-20M-17_07.out
Models/SASRec_window/old_experiements/slurm-aa-t2v-ss_logQ-16_07.out
Models/SASRec_window/old_experiements/slurm-aa-t2v-ss-16_07.out
Models/SASRec_window/old_experiements/slurm-all_action_24_06.out
Models/SASRec_window/old_experiements/slurm-all-act-16samples-bce-03_07.out
Models/SASRec_window/old_experiements/slurm-all-act-16samples-sampledsoft-03_07.out
Models/SASRec_window/old_experiements/slurm-all-action-sampled-softmax-01_07.out
Models/SASRec_window/old_experiements/slurm-base-bce-mask-09_07.out
Models/SASRec_window/old_experiements/slurm-base-ss-mask-09_07.out
Models/SASRec_window/old_experiements/slurm-base-t2v-ce-20M-17_07.out
Models/SASRec_window/old_experiements/slurm-baseline_no_split_15_06.out
Models/SASRec_window/old_experiements/slurm-baseline_split_feeding_15_06.out
Models/SASRec_window/old_experiements/slurm-baseline-26_06.out
Models/SASRec_window/old_experiements/slurm-baseline-all-action_18_06.out
Models/SASRec_window/old_experiements/slurm-baseline-autoreg-bce-03_07.out
Models/SASRec_window/old_experiements/slurm-baseline-next-item-17_06.out
Models/SASRec_window/old_experiements/slurm-combo-ce-17_07.out
Models/SASRec_window/old_experiements/slurm-combo-ce-autor-17_07.out
Models/SASRec_window/old_experiements/slurm-combo-ce-seqsplit-18_07.out
Models/SASRec_window/old_experiements/slurm-combo-ce-teachforc-17_07.out
Models/SASRec_window/old_experiements/slurm-combo-ss_logQ-17_07.out
Models/SASRec_window/old_experiements/slurm-combo-ss_logQ-autor-17_07.out
Models/SASRec_window/old_experiements/slurm-combo-ss_logQ-seqsplit-18_07.out
Models/SASRec_window/old_experiements/slurm-combo-ss_logQ-teachforc-17_07.out
Models/SASRec_window/old_experiements/slurm-combo-ss_uni-17_07.out
Models/SASRec_window/old_experiements/slurm-combo-ss_uni-autor-17_07.out
Models/SASRec_window/old_experiements/slurm-combo-ss_uni-seqsplit-18_07.out
Models/SASRec_window/old_experiements/slurm-combo-ss_uni-teachforc-17_07.out
Models/SASRec_window/old_experiements/slurm-dense-all-action-26_06.out
Models/SASRec_window/old_experiements/slurm-dense-all-sampled-soft-02_07.out
Models/SASRec_window/old_experiements/slurm-feeding_split-all-action_18_06.out
Models/SASRec_window/old_experiements/slurm-feeding_split-next_17_06.out
Models/SASRec_window/old_experiements/slurm-fr-ce-12_07.out
Models/SASRec_window/old_experiements/slurm-fr-ce-autoreg-10_07.out
Models/SASRec_window/old_experiements/slurm-fr-ce-autoreg-12_07.out
Models/SASRec_window/old_experiements/slurm-fr-ce-teach_forc-12_07.out
Models/SASRec_window/old_experiements/slurm-fr-ce-teaforc-10_07.out
Models/SASRec_window/old_experiements/slurm-fr-ceover-07_07.out
Models/SASRec_window/old_experiements/slurm-fr-ss-07_07.out
Models/SASRec_window/old_experiements/slurm-inde-bce-mask-09_07.out
Models/SASRec_window/old_experiements/slurm-inde-ss-mask-09_07.out
Models/SASRec_window/old_experiements/slurm-independent-26_06.out
Models/SASRec_window/old_experiements/slurm-independent-split-sampled-soft-02_07.out
Models/SASRec_window/old_experiements/slurm-super-dense-BCE-02_07.out
Models/SASRec_window/old_experiements/slurm-super-dense-sampled-soft-02_07.out
Models/SASRec_window/old_experiements/slurm-tf-bce-mask-09_07.out
Models/SASRec_window/old_experiements/slurm-tf-ss-mask-09_07.out
Models/SASRec_window/old_experiements/slurm-tfsplit-BCE-02_07.out
Models/SASRec_window/old_experiements/slurm-tfsplit-ce-17_07.out
Models/SASRec_window/old_experiements/slurm-tfsplit-sampled-soft-02_07.out
Models/SASRec_window/old_experiements/slurm-tfsplit-ss_logQ-17_07.out
Models/SASRec_window/old_experiements/slurm-tfsplit-ss_uni-17_07.out
Models/SASRec_window/old_experiements/slurm-wind_eval_no_split.out
Models/SASRec_window/old_experiements/slurm-wind_eval_split.out
Models/SASRec_window/data/ml-20m.txt
Models/SASRec_window/slurm-1646180.out
Models/SASRec_window/slurm-1646181.out
Models/SASRec_window/slurm-1646182.out
Models/SASRec_window/slurm-1646183.out
Models/SASRec_window/slurm-1646184.out
Models/SASRec_window/slurm-1646185.out
Models/SASRec_window/slurm-1646186.out
Models/SASRec_window/slurm-1646187.out
Models/SASRec_window/old_exp_on_dev/slurm-combo_ss_uni-seqsplit-autoreg-19_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo_ss_uni-seqsplit-teacforc-19_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ce-mask-19_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ss_uni-mask-19_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-ss_uni-mask-teachforc-19_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-t2v-ce-19_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-t2v-ss_logQ-19_07.out
Models/SASRec_window/old_exp_on_dev/slurm-combo-t2v-ss_uni-19_07.out
